<!DOCTYPE html>
<html>
<head>
  <title>Enda</title>
  <%= stylesheet_link_tag :all %>
<%= include_tiny_mce_if_needed %>


  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'jquery/jquery-1.4.2.min' %>
<%= javascript_include_tag :all, :cache => true %>

</body>
</html>
